<include file="Public/header" /> 

	<div class="contain_main">
	<table class="ua" border="1">
		<tr>
			<td>姓名</td>
			<td>年龄</td>
			<td>邮箱</td>
			<td>电话</td>
			<td>会员等级</td>
			<td>会员管理</td>
		</tr>
		<foreach name="result" item="v">
		<tr>
			<td><a href="__ROOT__/Admin/Teacher/teacher/id/{$v.id}">{$v.user}</a></td>
			<td>{$v.sex}</td>
			<td>{$v.email}</td>
			<td>{$v.phone}</td>

			<if condition="$v.vip eq 1 ">
				<td style="color:#575757;">普通会员</td>
				<else />
				<td style="color:#FFD700;">VIP会员</td>
			</if>


			<if condition="$v.vip eq 1 ">
				<td><a href="__ROOT__/Admin/Teacher/vip/id/{$v.id}/vip/2">升级会员</a></td>
				<else />
				<td><a href="__ROOT__/Admin/Teacher/vip/id/{$v.id}/vip/1">降级会员</a></td>
			</if>
		</tr>
		</foreach>
		
	</table>
	</div>
	</div>
</div>
	
</body>
</html>