<include file="Public/header" /> 
	<div class="contain_main">
		<h2 class="classify_title">分类管理</h2>
		<div align="center" style="font-size:25px;">当前操作：添加分类</div><br/>
		<div align="center" style="font-size">添加两化融合分类</div>
	<form action="__URL__/save" method="post">
		<table border="1" align="center">
			<tr>
				<td>名称：</td>
				<td><input type="text" name="36name" style="background-color:#85DBCE;border:0;width:100%;"/></td>
			</tr>
			
			<tr>
				<td>父分类：</td>
				<td><select name="nid" style="background-color:#85DBCE;border:0;width:100%;">
				<option value="0" >顶级分类</option>	
				{$typeStr}
				</select>
				</td>
			</tr>

			<tr>
				<td colspan="2" align="center"><input type="submit" value="提交"/></td>
			</tr>
			
		</table>
	</form>




	<br/><br/>
	<div align="center" style="font-size">添加企业百科分类</div>
	<form action="__URL__/save2" method="post">
		<table border="1" align="center">
			<tr>
				<td>名称：</td>
				<td><input type="text" name="sername" style="background-color:#85DBCE;border:0;width:100%;"/></td>
			</tr>
			
			<tr>
				<td>父分类：</td>
				<td><select name="nid" style="background-color:#85DBCE;border:0;width:100%;">
				<option value="0">顶级分类</option>	
				{$typeStr1}
				</select>
				</td>
			</tr>

			<tr>
				<td colspan="2" align="center"><input type="submit" value="提交"/></td>
			</tr>
			
		</table>
	</form>
		
		
	</div>
</div>

</body>
</html>