<!DOCTYPE html>

<html lang="en">
	<head>
<!--<include file="./Public/Admin/Header/index.html"/>-->
<meta charset="UTF-8">
<title>智慧源后台管理</title>
<link rel="stylesheet" href="__CSS__/index.css"/>
<script src="__JS__/jquery.js"></script>
<script src="__JS__/index.js"></script>
<script src="__JS__/dtree.js"></script>
<script src="__JS__/show.js"></script>
<script src="__JS__/show1.js"></script>


<script type="text/javascript">

	var ThinkPHP={
		'ROOT':'__ROOT__',
		'IMG':'__PUBLIC__/{:MODULE_NAME/img}',
		'FACE':'__PUBLIC__/{:MODULE_NAME/face}',
		'MODULE':'__MODULE__',
		'UPLOADIFY':'__UPLOADIFY__',
		'IMAGEURL':'{:U("File/image")}',
		'FACEURL':'{:U("File/face")}',
		'BIGFACE':'{:session("user_auth")["face"]->big}',
		'INDEX':'{:U("Index/index")}',

	}
	</script>

</head>
<body>
	
<div id="header"></div>

<div id="contain" class="clear">
	<p class="contain_nav">后台管理： 管理首页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span >尊敬的	<font style="color:#049">{$session.adminuser}</font>	您好!  【<a href="__ROOT__/Admin/Login/loginOut">退出登录</a>】</span></p>
	

	<div class="contain_side">
	<script src="__JS__/left.js"></script>

	</div>
	<div class="header_center">
		
	</div>