<!-- 头部开始 -->
<div id="header_title">
	<p>总裁特助→总裁→总裁教练，人才开发战略 事业发展一生一世。联系电话：15313667924</p>
</div>

<div id="header">
	<div class="header_center">
		<h1 id="logo">
			<a href="__ROOT__/Index/index"><img src="__IMG__/logo.png" alt="智慧方略管理顾问有限公司"></a>
		</h1>
		<empty name="user">
			<p class="header_info">您好，请【<a href="javascript:;" id="login" class="active">登录</a>】【<a href="__ROOT__/Reg/index" id="reg">注册</a>】</p>
		<else/>
			<p class="header_info">尊敬的	<font style="color:#049">{$user}</font>	您好!  【<a href="__ROOT__/Personage/index">个人中心</a>】【<a href="__ROOT__/Login/logout">退出登录</a>】</p>
		</empty>
	</div>
	
</div>
<div id="logon">
	<div class="warp"></div>
	<div>
		<form action="__ROOT__/Login/login" method="post">
			<p class="logon_title">账户登录</p>
			<span class="close"></span>
			<input type="text" name="user" value="用户名">
			<input type="text" name="password" value="密码">
			<input class="submit_btn" type="submit" value="确认登录">
		</form>
		<a class="reg_src" href="reg.html">注册新账户</a>
	</div>
</div>
<script>
$(function(){
	// 头部文字滚动
	(function(){
		var timer = null;
		var num = $('#header_title p').position().left;
		var pW = $('#header_title p').width();
		var parentW = $('#header_title').width();
		setInterval(function(){
			num-=2;
			$('#header_title p').css({'left':num});
			if(num < -pW){
				num = parentW;
			}
		},50);
	})();
	
	// 登录
	(function(){
		$('#login').click(function(){
			$('#logon').fadeIn();
			$('#logon input[name="user"]').focus(function(){
				$(this).val('');
			})
			$('#logon input[name="password"]').focus(function(){
				$(this).attr('type','password').val('');
			})
		});
		$('#logon .close').click(function(){
			$('#logon').fadeOut();
		})
	})();
})
		
</script>
<!-- 头部结束 -->
<!-- <script src="__JS__/reg/reg.js"></script> -->

