<extend name="Base/common" />
<block name="head">
    <link rel="stylesheet" href="__CSS__/public/page_nav.css">
    <link rel="stylesheet" href="__CSS__/36.css">
    <script src="__JS__/distpicker.data.js"></script>
    <script src="__JS__/distpicker.js"></script>
</block>
<block name="main">
    <div id="content" class="clear">
        <div class="page_nav">
            <a class="index" href="__ROOT__/Index/index">首页</a>
            <span>&gt;</span>
            <!-- 面包屑 -->
            <empty name="title">
            <span></span>
            <else/>
            <a class="now_page" href="__ROOT__/Index/commitList2/id/{$title.id}">{$title.dataname}</a>
            </empty>
            <empty name="title2">
            <span></span>
            <else/>
            <a class="now_page" href="__ROOT__/Index/commitList2/did/{$title2.id}">>{$title2.dataname}</a>
            </empty>
            <!-- 文章题目 -->
            <empty name="matter">
                <span></span>
            <else/>
                <a class="now_page" href="#">>{$content1.infoname}</a>
            </empty>
        </div>
        <div class="article_list">
            <h4>名称</h4>
            <ul>

                <foreach name="result" item="v" >   
                <li>
                    <p><a href="__ROOT__/Index/commitList2/did/{$v['id']}">{$v.dataname}</a></p>
                </li> 
                </foreach>


                <div class="page">
                <table class="pages">
                    <tr>
                      <td height="20" colspan="3" align="right" padding="4">{$show}</td>  
                    </tr>
                </table>   
                </div>   
            </ul>
        </div>

        <div class="article_main">
           <empty name="matter">
            {$matter1} 
            <else/>
            {$matter} 
            </empty>
        </div>
    </div>
</block>
</block>