<extend name="Base/common" />
<block name="head">

<script type="text/javascript" src="__JS__/check.js"></script>
<script type="text/javascript" src="__JS__/index.js"></script>
<script type="text/javascript">
	function hint(){
		alert("非VIP会员禁止查看！");
	}
var lll = navigator.userAgent;

if(lll.indexOf('Mobile') >= 0){
	window.location.href ="/zhihuiyuanPhone";
}
</script>
</block>
<block name="main">
	<!-- 导航开始 -->
	<meta charset="UTF-8">
	<div id="content">
		<div id="nav">
			<div class="nav_side">
				<dl>
				{$typeStr}
				</dl>
			</div>
			<div class="banner">
				<ul class="nav_top">
					<li><a href="__ROOT__/Company/index">企业百科</a></li>
					<li><a href="__ROOT__/News/index">集群动态区</a></li>
					<li><a href="#">讨论区</a></li>
					<li><a href="__ROOT__/Contact/index">联系我们</a></li>
					<li><a href="http://www.jqhmjd.com">进入官网</a></li>
				</ul>
				<div class="banner_pic">
					<ul class="banner_pic_list">
						<li>
							<a href="javascript:;"><img src="__IMG__/1.png" alt=""></a>
						</li>
						<li>
							<a href="http://www.ydachina.com.cn" target="_Blank"><img src="__IMG__/2.png" alt=""></a>
						</li>
						<li>
							<a href="javascript:;"><img src="__IMG__/3.jpg" alt=""></a>
						</li>
						<li>
							<a href="javascript:;"><img src="__IMG__/4.png" alt=""></a>
						</li>
						<li>
							<a href="javascript:;"><img src="__IMG__/5.jpg" alt=""></a>
						</li>
						<li>
							<a href="javascript:;"><img src="__IMG__/6.png" alt=""></a>
						</li>

					</ul>
					<div class="banner_pic_nav">
						<span class="active">1</span>
						<span>2</span>
						<span>3</span>
						<span>4</span>
						<span>5</span>
						<span>6</span>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		</script>
		<div class="seg"></div>
		<div class="pic_info">
			<div class="title">
				<h2>两化融合企业升级</h2>
			</div>



			<div class="pic_box">
				<ul class="pic_list">
					<foreach name="datas" item="v" >
						<if condition="$v.id eq 1">
							<li>
								<a href="http://www.zady.cn/aqpt" target="_blank">
									<img -src="__UPLOADS__/{$v.pic}.png" src="__IMG__/loading.png" alt="">
									<p>{$v.dataname}</p>
								</a>
							</li>
						<else/>
							<li>
								<a href="__ROOT__/Index/commitList2/id/{$v.id}">
									<img -src="__UPLOADS__/{$v.pic}.png" src="__IMG__/loading.png" alt="">
									<p>{$v.dataname}</p>
								</a>
							</li>
						</if>
					</foreach>
				</ul>
			</div>



			<span class="prey"></span>
			<span class="next"></span>
		</div>
		<div class="pic_info">
			<div class="title">
				<h2>总裁教练集群统帅</h2>
			</div>
			<div class="J_Poster poster-main" data-setting='{
	            "width":952,
	            "height":285,
	            "posterWidth":450,
	            "posterHeight":285,
	            "scale":0.9,
	            "speed":1000,
	            "autoPlay":true,
	            "delay":3000,
	            "verticalAlign":"middle"
	        }'>
		        <ul class="poster-list">


		        <foreach name="datas2" item="v" >
		            <li class="poster-item"><a href="__ROOT__/Index/commitList2/id/{$v.id}"><img -src="__UPLOADS__/{$v.pic}.png" src="__IMG__/loading.png" width="100%" height="100%"></a></li>
		        </foreach>

		        </ul>
		    </div>
			<span class="prey"></span>
			<span class="next"></span>
		</div>
		<div class="pic_info">
			<div class="title policy">
				<h2>政务服务</h2>
				<p><a class="active" href="javascript:;">政务法规</a></p>
				<p><a href="javascript:;">政务服务</a></p>
				<p><a href="javascript:;">专项资金</a></p>
				<p><a href="javascript:;">减免税收</a></p>
			</div>
			<div style="height: 500px;"></div>
			<div class="policy_pic policy_pic1 clear">
				<div class="pic pic1">
					<a id="k321" href="__ROOT__/Company/index"><img -src="__IMG__/zc1.jpg" src="__IMG__/loading.png" alt="政策扶持"></a>
				</div>
				<div class="pic_right">
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zc2.jpg" src="__IMG__/loading.png" alt="政府重要公告"></a>
					</div>
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zc3.jpg" src="__IMG__/loading.png" alt="劳工关系"></a>
					</div>
				</div>
			</div>
			<div class="policy_pic policy_pic2 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zw1.jpg" src="__IMG__/loading.png" alt="中小微企业类型证明办理"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zw2.jpg" src="__IMG__/loading.png" alt="营业执照办理"></a>
					</div>
				</div>
				<div class="pic_center">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zw3.jpg" src="__IMG__/loading.png" alt="中小企业生产经营运行监测"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zw4.jpg" src="__IMG__/loading.png" alt="组织机构代码办理"></a>
					</div>
					<div class="pic pic5">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zw5.jpg" src="__IMG__/loading.png" alt="税务登记办理"></a>
					</div>
				</div>
			</div>
			<div class="policy_pic policy_pic3 clear">
				<div class="pic pic1">
					<a href="__ROOT__/Company/index"><img -src="__IMG__/zj1.jpg" src="__IMG__/loading.png" alt="国家项目资金"></a>
				</div>
				<div class="pic pic2">
					<a href="__ROOT__/Company/index"><img -src="__IMG__/zj2.jpg" src="__IMG__/loading.png" alt="项目资助"></a>
				</div>
			</div>
			<div class="policy_pic policy_pic4 clear">
				<div class="pic pic1">
					<a href="__ROOT__/Company/index"><img -src="__IMG__/js1.jpg" src="__IMG__/loading.png" alt="高新企业"></a>
				</div>
				<div class="pic_right">
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/js2.jpg" src="__IMG__/loading.png" alt="小微企业"></a>
					</div>
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/js3.jpg" src="__IMG__/loading.png" alt="双软认证企业"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="pic_info">
			<div class="title association">
				<h2>协会服务</h2>
				<p><a class="active" href="javascript:;">展览展示</a></p>
				<p><a href="javascript:;">培训辅导</a></p>
				<p><a href="javascript:;">特色服务</a></p>
				<p><a href="javascript:;">行业研究</a></p>
			</div>
			<div style="height: 500px;"></div>

			<div class="association_pic association_pic1 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zl1.jpg" src="__IMG__/loading.png" alt="机械展"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zl2.jpg" src="__IMG__/loading.png" alt="珠宝展"></a>
					</div>
				</div>
				<div class="pic_center">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zl3.jpg" src="__IMG__/loading.png" alt="电子装备产业博览"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zl4.jpg" src="__IMG__/loading.png" alt="家具展"></a>
					</div>
					<div class="pic pic5">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zl5.jpg" src="__IMG__/loading.png" alt="钟表展"></a>
					</div>
				</div>
			</div>
			<div class="association_pic association_pic2 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="../sb/zcfd.html"><img -src="__IMG__/px1.jpg" src="__IMG__/loading.png" alt="政策辅导"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/px2.jpg" src="__IMG__/loading.png" alt="创业培训"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/px3.jpg" src="__IMG__/loading.png" alt="行业辅导"></a>
					</div>
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/px4.jpg" src="__IMG__/loading.png" alt="网络营销培训"></a>
					</div>
				</div>
			</div>
			<div class="association_pic association_pic3 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/ts1.jpg" src="__IMG__/loading.png" alt="双软认证"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/ts2.jpg" src="__IMG__/loading.png" alt="监测仪器"></a>
					</div>
				</div>
				<div class="pic_center">
					<div class="pic 双软认证">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/ts3.jpg" src="__IMG__/loading.png" alt="3D打印"></a>
					</div>
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/ts4.jpg" src="__IMG__/loading.png" alt="研发设计"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic5">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/ts5.jpg" src="__IMG__/loading.png" alt="3D展厅"></a>
					</div>
					<div class="pic pic6">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/ts6.jpg" src="__IMG__/loading.png" alt="物流"></a>
					</div>
				</div>
			</div>
			<div class="association_pic association_pic4 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/hy1.jpg" src="__IMG__/loading.png" alt="LED行业研究"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/hy2.jpg" src="__IMG__/loading.png" alt="3D行业研究"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic3">
						<a href="../sb/xcl.html"><img -src="__IMG__/hy3.jpg" src="__IMG__/loading.png" alt="新材料行业研究"></a>
					</div>
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/hy4.jpg" src="__IMG__/loading.png" alt="电子信息化行业"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="pic_info">
			<div class="title institution">
				<h2>机构服务</h2>
				<p><a class="active" href="javascript:;">投资融资</a></p>
				<p><a href="javascript:;">电商市场</a></p>
				<p><a href="javascript:;">互联网信息化</a></p>
				<p><a href="javascript:;">法律服务</a></p>
			</div>
			<div style="height: 500px;"></div>
			<div class="institution_pic institution_pic1 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/tzrz1.jpg" src="__IMG__/loading.png" alt="小额贷款"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/tzrz2.jpg" src="__IMG__/loading.png" alt="风险投资"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/tzrz3.jpg" src="__IMG__/loading.png" alt="担保服务"></a>
					</div>
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/tzrz4.jpg" src="__IMG__/loading.png" alt="银行服务"></a>
					</div>
				</div>
			</div>
			<div class="institution_pic institution_pic2 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/dssc1.jpg" src="__IMG__/loading.png" alt="市场营销"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/dssc2.jpg" src="__IMG__/loading.png" alt="技术开发"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/dssc3.jpg" src="__IMG__/loading.png" alt="电子商务"></a>
					</div>
					<div class="pic pic4">
						<a href="../sb/cptj.html"><img -src="__IMG__/dssc4.jpg" src="__IMG__/loading.png" alt="产品推介"></a>
					</div>
				</div>
			</div>
			<div class="institution_pic institution_pic3 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="../sb/jsjjfa.html"><img -src="__IMG__/xxh1.jpg" src="__IMG__/loading.png" alt="技术解决方案"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/xxh2.jpg" src="__IMG__/loading.png" alt="技术开发"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/xxh3.jpg" src="__IMG__/loading.png" alt="管理信息化服务"></a>
					</div>
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/xxh4.jpg" src="__IMG__/loading.png" alt="研发信息化服务"></a>
					</div>
				</div>
			</div>
			<div class="institution_pic institution_pic4 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/fl1.jpg" src="__IMG__/loading.png" alt="无偿法律援助"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/fl2.jpg" src="__IMG__/loading.png" alt="法律文书代理"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/fl3.jpg" src="__IMG__/loading.png" alt="仲裁服务"></a>
					</div>
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/fl4.jpg" src="__IMG__/loading.png" alt="调节服务"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="pic_info">
			<div class="title twofuse">
				<h2>两化融合</h2>
				<p><a class="active" href="javascript:;">计算机</a></p>
				<p><a href="javascript:;">物联网</a></p>
				<p><a href="javascript:;">新型显示</a></p>
				<p><a href="javascript:;">信息系统</a></p>
			</div>
			<div style="height: 500px;"></div>
			<div class="twofuse_pic twofuse_pic1 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/jsj1.jpg" src="__IMG__/loading.png" alt="通信"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/jsj2.jpg" src="__IMG__/loading.png" alt="消费类电子"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/jsj3.jpg" src="__IMG__/loading.png" alt="三网融合"></a>
					</div>
					<div class="pic pic4">
						<a href="../sb/szjt.html"><img -src="__IMG__/jsj4.jpg" src="__IMG__/loading.png" alt="数字家庭"></a>
					</div>
				</div>
			</div>
			<div class="twofuse_pic twofuse_pic2 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/wlw1.jpg" src="__IMG__/loading.png" alt="移动互联网"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/wlw2.jpg" src="__IMG__/loading.png" alt="云计算"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/wlw3.jpg" src="__IMG__/loading.png" alt="微信"></a>
					</div>
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/wlw4.jpg" src="__IMG__/loading.png" alt="下一代网络"></a>
					</div>
				</div>
			</div>
			<div class="twofuse_pic twofuse_pic3 clear">
				<div class="pic pic1">
					<a href="__ROOT__/Company/index"><img -src="__IMG__/xs1.jpg" src="__IMG__/loading.png" alt="高端集成电路"></a>
				</div>
				<div class="pic pic2">
					<a href="__ROOT__/Company/index"><img -src="__IMG__/xs2.jpg" src="__IMG__/loading.png" alt="各类元器件"></a>
				</div>
			</div>
			<div class="twofuse_pic twofuse_pic4">
				<div class="pic pic1">
					<a href="__ROOT__/Company/index"><img -src="__IMG__/xxxt1.jpg" src="__IMG__/loading.png" alt="信息系统"></a>
				</div>
			</div>
		</div>
		<div class="pic_info">
			<div class="title other">
				<h2>其他服务</h2>
				<p><a class="active" href="javascript:;">知识产权代理</a></p>
				<p><a href="javascript:;">外贸报关代理</a></p>
				<p><a href="javascript:;">财会代理</a></p>
				<p><a href="javascript:;">场地租赁</a></p>
			</div>
			<div style="height: 500px;"></div>
			<div class="other_pic other_pic1 clear">
				<div class="pic pic1">
					<a href="__ROOT__/Company/index"><img -src="__IMG__/zscq1.jpg" src="__IMG__/loading.png" alt="产品专利"></a>
				</div>
				<div class="pic_right">
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zscq2.jpg" src="__IMG__/loading.png" alt="产品著作权"></a>
					</div>
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/zscq3.jpg" src="__IMG__/loading.png" alt="产品认证"></a>
					</div>
				</div>
			</div>
			<div class="other_pic other_pic2 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/wm1.jpg" src="__IMG__/loading.png" alt="报关服务"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/wm2.jpg" src="__IMG__/loading.png" alt="出口代理"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/wm3.jpg" src="__IMG__/loading.png" alt="进口代理"></a>
					</div>
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/wm4.jpg" src="__IMG__/loading.png" alt="外贸关税代理"></a>
					</div>
				</div>
			</div>
			<div class="other_pic other_pic3 clear">
				<div class="pic_left">
					<div class="pic pic1">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/ck1.jpg" src="__IMG__/loading.png" alt="税务服务"></a>
					</div>
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/ck2.jpg" src="__IMG__/loading.png" alt="审计"></a>
					</div>
				</div>
				<div class="pic_right">
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/ck3.jpg" src="__IMG__/loading.png" alt="会计服务"></a>
					</div>
					<div class="pic pic4">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/ck4.jpg" src="__IMG__/loading.png" alt="记账服务"></a>
					</div>
				</div>
			</div>
			<div class="other_pic other_pic4 clear">
				<div class="pic pic1">
					<a href="__ROOT__/Company/index"><img -src="__IMG__/cd1.jpg" src="__IMG__/loading.png" alt="工业园区服务"></a>
				</div>
				<div class="pic_right">
					<div class="pic pic2">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/cd2.jpg" src="__IMG__/loading.png" alt="科技园区服务"></a>
					</div>
					<div class="pic pic3">
						<a href="__ROOT__/Company/index"><img -src="__IMG__/cd3.jpg" src="__IMG__/loading.png" alt="创业园区服务"></a>
					</div>
				</div>
			</div>
		</div>
		<script>
			// 设置ul长度
			var aul = $('#content .pic_info .pic_list');
			var aw = aul.find('li').outerWidth(true);
			aul.css({'width':aw*aul.find($('li')).length});
		</script>

	</div>

	<!-- 导航结束 -->
</block>