<extend name="Base/common" />
<block name="head">
    <link rel="stylesheet" href="__CSS__/public/public_head.css">
    <link rel="stylesheet" href="__CSS__/public/page_nav.css">
    <link rel="stylesheet" href="__CSS__/company.css">
    <script src="__JS__/company.js"></script>
</block>
<block name="main">
    <div id="content" class="clear">
        <div class="page_nav">
            <a class="index" href="__ROOT__/Index/index">首页</a>
            <span>&gt;</span>
            <a class="now_page" href="__ROOT__/Company/index">企业百科</a>
        </div>
        <div class="serve_list">
            <h4>服务分类</h4>
            <dl class="clear">
                {$typeStr}
            </dl>
        </div>
        <div class="article_main">
            {$content}
        </div>
    </div>
</block>