<extend name="Base/common" />
<block name="head">
    <link rel="stylesheet" href="__CSS__/public/page_nav.css">
    <link rel="stylesheet" href="__CSS__/36.css">
    <script src="__JS__/distpicker.data.js"></script>
    <script src="__JS__/distpicker.js"></script>
</block>
<block name="main">
    <div id="content" class="clear">
        <div class="page_nav">
            <a class="index" href="__ROOT__/Index/index">首页</a>
            <span>&gt;</span>

            <a class="now_page" href="__ROOT__/News/index">集群动态区</a>

            <empty name="title">
            <span></span>
            <else/>
            <a class="now_page" href="#">>{$title.title}</a>
            </empty>      
            
        </div>
        <div class="article_list">
            <h4>名称</h4>
            <ul>
                <li>
                    <p>{$title.title}</p>
                </li>            
            </ul>
        </div>
        <div class="article_main">
            {$matter} 
        </div>
    </div>
</block>