<extend name="Base/common" />
<block name="head">
    <link rel="stylesheet" href="__CSS__/public/page_nav.css">
    <link rel="stylesheet" href="__CSS__/course_commit.css">
    <script src="__JS__/check.js"></script>
    <script src="__JS__/course_commit.js"></script>
</block>
<block name="main">
    <div id="content" class="clear">
        <div class="page_nav">
            <a class="index" href="__ROOT__/Index/index">首页</a>
            <span>&gt;</span>
            <a class="now_page" href="__ROOT__/Contact/commit/nid/16">系列课程</a>

            <empty name="title">
            <span></span>
            <else/>
            <a class="now_page" href="#">>{$title.infoname}</a>
            </empty>


        </div>
        <div class="article_list">
            <h4>名称</h4>
            <ul>


                <empty name="title">
                    <foreach name="result" item="v" > 
                        <li>
                            <p><a href="__ROOT__/Contact/commit/id/{$v.id}">{$v.infoname}</a></p>
                        </li>
                    </foreach>

                    <div class="page">
                    <table class="pages">
                        <tr>
                          <td height="20" colspan="3" align="right" padding="4">{$show}</td>  
                        </tr>
                    </table>   
                    </div>

                <else/>
                    <a class="now_page" href="#">>{$title.infoname}</a>
                </empty>


                


            </ul>
        </div>
        <div class="article_main">
            <div class="article_content">
                <empty name="matter">
                    {$matter1} 
                    <else/>
                    {$matter} 
                </empty>
            </div>
            <div class="apply clear">
                <h3>报名信息填写</h3>



                 <form onsubmit="return checksubmit('course')" action="__ROOT__/Contact/addCommitUser" method="post">
                <ul class="apply_form">
                    <li>
                    <input class="text" type="text" value="姓名：请输入真实姓名" name="user">
                        <span class="info info_user">请填写您的真实姓名！</span>
                       <span class="error error_user">姓名格式错误，不能出现数字、英文、标点符号、特殊字符！</span>
                    </li>
                    <li>
                        <input class="text" type="text" value="手机号码：请输入您的手机号码" name="phone">
                        <span class="info info_phone">请填写您的手机号码！</span>
                        <span class="error error_phone">手机号格式错误，请重新输入！</span>
                    </li>
                    <li>
                        <input class="text" type="text" value="邮箱：请输入您的邮箱" name="email">
                        <span class="info info_email">请填写您的邮箱！</span>
                        <span class="error error_email">邮箱格式错误，请重新输入！</span>
                    </li>
                    <li><input class="text" type="text" value="公司名称" name="company"></li>
                    <li><input class="text" type="text" value="推荐人" name="referrals"></li>
                    <li><input class="submit" type="submit" value="确认提交"></li>
                </ul>
            </form>
                <script>
                    $(function(){
                        $('.apply .text').focus(function(){
                            $(this).val('');
                        });
                    })
                </script>
                <div style="float: right; width: 300px;" class="article_list">
                    <h4>报名人员名单</h4>
                    <ul>
                     <foreach name="CommitUser" item="v" > 
                        <li>
                            <p>
                                {$v.username}&nbsp;&nbsp;&nbsp;&nbsp;
                                {$v.phone}&nbsp;&nbsp;
                            </p>
                        </li>
                    </foreach>
                    <li><p style="font-size:20px;">&nbsp;.&nbsp;.&nbsp;.&nbsp;</p></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</block>