<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>智慧源后台管理</title>
<link rel="stylesheet" href="css/index.css">
<script src="js/jquery.js"></script>
<script src="js/index.js"></script>
<script src="js/dtree.js"></script>
<script></script>
</head>
<body>
<div id="header"></div>
<div id="contain" class="clear">
	<p class="contain_nav">后台管理： 管理首页</p>
	<div class="contain_side">
		<script>
			function hello()
		    {
			    d = new dTree('d');

			    d.add(0,-1,'后台管理','');

			    d.add(1,0,'重新登陆','../index.php');

			    d.add(2,0,'新闻管理','');
			    d.add(21,2,'添加新闻','addnews.php');
			    d.add(22,2,'修改新闻','modnews.php');

			    d.add(3,0,'分类管理','');
			    d.add(31,3,'添加分类','addtype.php');
			    d.add(32,3,'修改分类','modtype.php');

			    d.add(4,0,'用户管理','');
			    d.add(41,4,'添加用户','adduser.phdp');
			        
			    d.add(5,0,'返回首页','index.php');

			    document.write(d);
		    }

		    hello();
		</script>
	</div>
	<div class="contain_main">
		<h2 class="classify_title">分类管理</h2>
		<form class="classify_form">
			<label>
				<span>添加分类：</span>
				<select>
					<option></option>
				</select>
				<input type="submit" name="" value="添加">
			</label>
			
			
		</form>
		
		
	</div>
</div>

</body>
</html>