<extend name="Base/common" />
<block name="head">
    <link rel="stylesheet" href="__CSS__/public/page_nav.css">
    <link rel="stylesheet" href="__CSS__/lecturer.css">
    <script src="__JS__/distpicker.data.js"></script>
    <script src="__JS__/distpicker.js"></script>
</block>
<block name="main">
    <div id="content" class="clear">
        <div class="page_nav">
            <a class="index" href="__ROOT__/Index/index">首页</a>
            <span>&gt;</span>
            <a class="now_page" href="__ROOT__/Reteacher/index/nid/17">讲师推荐</a>
            <div class="distpicker1">
                <strong>按地区：</strong>
                <select class="prov" name="prov" id="prov"></select>
                <select class="city" name="city" id="city"></select>
                <select style="display: none;" class="dist" name="dist" id="dist"></select>
            </div>
        </div>
        <ul class="lecturer_list">


        <foreach name="result" item="v" >   
            <li class="clear">
                <empty name="v.face">
                    <div class="head_pic"></div>
                <else/>

                        <img class="head_pic" src="__ROOT__/Uploads/{$v.face} ">

                </empty>

                <ul class="lecturer_info">
                    <li class="clear">
                        <span>姓名：</span>
                        <p>{$v.user}</p>
                    </li>
                    <li class="clear">
                        <span>性别：</span>
                        <p>{$v.sex}</p>
                    </li>
                    <li class="clear">
                        <span>地址：</span>
                        <p>
                        <span>&nbsp;&nbsp;{$v.prov}&nbsp;&nbsp;&nbsp;</span>
                        <span>{$v.city}&nbsp;&nbsp;&nbsp;</span>
                        <span>{$v.dist}&nbsp;&nbsp;&nbsp;</span>
                        </p>
                    </li>
                    <li class="clear">
                        <span>擅长领域：</span>
                        <p>{$v.field}</p>
                    </li>
                    <li class="clear">
                        <span>技术特长：</span>
                        <p>{$v.technology}</p>
                    </li>
                    <li class="clear">
                        <span>个人简介：</span>
                        <p>{$v.introduction}</p>
                    </li>
                </ul>
                <a href="__ROOT__/Reteacher/details/id/{$v.id}">详情</a>
            </li>
        </foreach>


        </ul>
        <table class="pages">
            <tr>
              <td height="20" colspan="3" align="right" padding="4">{$show}</td>  
            </tr>
        </table>
    </div>
    <script>
        $(function() { 
            $(".distpicker1").distpicker(); 
             
        })
    </script>
</block>