<extend name="Base/common" />
<block name="head">
    <link rel="stylesheet" href="__CSS__/public/page_nav.css">
    <link rel="stylesheet" href="__CSS__/36.css">
    <link rel="stylesheet" href="__CSS__/supply.css">
</block>
<block name="main">


<div id="content" class="clear">
    <div class="page_nav">
        <a class="index" href="__ROOT__/Index/index">首页</a>
        <span>&gt;</span>
        <a class="now_page" href="#">资源供应</a>
    </div>
    <div class="article_list">
        <h4>名称</h4>
        <ul>
            <li>
                <p><a href="#">资金</a></p>
            </li>
            <li>
                <p><a href="#">项目</a></p>
            </li>
            <li>
                <p><a href="#">人脉</a></p>
            </li>
            <li>
                <p><a href="#">技术</a></p>
            </li>
        </ul>
    </div>
    <div class="article_main">
        我是文章内容
    </div>
    <div class="issue">
        <form>
            <input class="title" type="text" name="" value="title">
            <textarea class="contain">内容</textarea>
            <input class="submit" type="submit" value="提交">
            <span class="info">请先登录，未登录会导致发布需求失败，请留下电话方便我们与您联系！</span>
        </form>
    </div>
</div>
</block>