<include file="Public/header" /> 
	<div class="contain_main">
		<form action="__ROOT__/Admin/News/addNews1" method="post">
			<table border="1" align="center">
			
			
			<tr>
				<td>父分类：</td>
				<td><select name="nid" style="background-color:#85DBCE;border:0;width:200px;">
				<option value="0" >顶级分类</option>	
				{$typeStr}
				</select>
				</td>
			
				<td>文章名称：</td>
				<td><input type="text" name="name" style="background-color:#85DBCE;border:0;width:200px;"/></td>
			</tr>
			</table>

			<div class="text">
				<!-- 加载编辑器的容器 -->
		    <script id="container" name="content" type="text/plain">
		    </script>
		    <!-- 配置文件 -->
		    <script type="text/javascript" src="__JS__/ueditor-1.4.3.3/ueditor.config.js"></script>
		    <!-- 编辑器源码文件 -->
		    <script type="text/javascript" src="__JS__/ueditor-1.4.3.3/ueditor.all.js"></script>
			</div>
			
			<input type="submit" name="" value="确认提交">
			
		</form>
		
		
	</div>
</div>
<script charset="utf-8" src="__JS__/text/kindeditor.js"></script>
<script charset="utf-8" src="__JS__/text/lang/zh_CN.js"></script>
<!-- 实例化编辑器 -->
		    <script type="text/javascript">
		        var ue = UE.getEditor('container',{
					initialFrameHeight:500,
					autoHeightEnabled:false,
					maximumWords:20000
				});
		    </script>
</body>
</html>