body{
	background-color: #f0f7fd;
}
.top_title h1{
	text-align: center;
	line-height: 2.4375rem;
}

.top_title{
	width: 100%;
	height: 2.5rem;
	border-bottom: 1px solid #cfd3d6;
}
.content_list{
	padding: 0 8%;
}
.issue{
	width: 86%;
	padding-bottom: .8rem;
	border-bottom: 1px solid #cfd3d6;
	display: block;
	margin: 0 auto;
}
.title{
	width: 100%;
	height: 3.28125rem;
	border: 1px solid #a9a9a9;
	margin-top: .875rem;
	font-size: 1.8em;
	padding: .625rem;
	background-color: #fff;
}
.textarea{
	height: 6.5625rem;
}
.intro{
	height: 12.6875rem;
}
.border_none{
	border: none;
}
.issue_color{
	background-color: #e4e4e4;
	margin-top: 1.75rem;
}
.login_please{
	color: red;
	font-size: 1.4em;
	line-height: 1.2em;
	text-align: center;
	margin-top: 1rem;
	padding-bottom: 2.5rem;
}
.submit{
	margin: 0 auto 4rem;
	background-color: #33a7fe;
	display: block;
	border: none;
	width: 45%;
	height: 2.1875rem;
	color: white;
	font-size: 1.8em;
}