/****************main-start********************/

main{
	padding-top: 3.0625rem;
}


.pica{
	border-bottom: 1px solid #adadad;
}
.main-pic ul li{
	width: 13%;
	float: left;
	margin: 1rem 0 1rem 9.6%;
	height: 0;
    padding-bottom: 13%;
    overflow: hidden;
    position: relative;
}
.main-pic ul li img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


.picb{
	border-bottom: .75rem solid #f0f8fe;
}

.main-word{
	padding: .5rem .5rem 4rem .5rem;
	font-size: 1.4em;
}