<extend name="Base/common" />
<block name="head">
    <link rel="stylesheet" href="__CSS__/public/page_nav.css">
    <link rel="stylesheet" href="__CSS__/train.css">
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/check.js"></script>
</block>
<block name="main">
    <div id="content" class="clear">
        <div class="page_nav">
            <a class="index" href="__ROOT__/Index/index">首页</a>
            <span>&gt;</span>
			<a class="now_page" href="__ROOT__/Index/commitList1/nid/{$title.id}".$_GET['id']>{$title.36name}</a>
	
			<span>&gt;</span>
			<a class="now_page" href="#">{$title1.36name}</a>
        </div>
        <ul class="content_list">
        
            <foreach name="result" item="v" >
                <li>
                    <h2>{$v.title}</h2>
                    <span><a href="#">{$v.name}</a><em>{$v.createtime}</em></span>
                    <p>{$v.content}</p>
                </li>
            </foreach> 

            
            <!-- 分页 -->
            <table class="pages">
                <tr>
                  <td height="20" colspan="3" align="right" padding="4">{$show}</td>  
                </tr>
            </table>
        </ul>

        <div class="issue">
            <form method="post" action="__ROOT__/Train/add" onsubmit="return checksubmit('train')">
                <input class="title" type="text" name="title" value="标题">
                <textarea class="contain" name="content">内容</textarea>
				<input type="hidden" name="fid" value="{$result[0]['fid']}"/>
                <input class="submit" type="submit" value="提交">
                <span class="info">请先登录，未登录会导致发布需求失败，请留下电话方便我们与您联系！</span>
            </form>
        </div>
        <script>
            $(function(){
                var parent = $('.issue');
                companyCheckVerify(parent);
                

            })
        </script>
    </div>
</block>