


#content .serve_list { float: left; width: 140px; background: #fff; border: 2px solid #eee; padding-bottom: 20px; }
.serve_list h4 { width: 100%; height: 40px; background: #f0f9ff; line-height: 40px; color: #42aae7; font-size: 20px; text-indent: 10px; font-weight: normal; }
.serve_list dl { width: 100%; background: #fff; }
.serve_list dl dt { width: 100%; height: 35px; border-bottom: 1px solid #9b9b9b; font-size: 18px; color: #000; line-height: 35px; text-align: center; letter-spacing: 2px; }
.serve_list dl dd { width: 100%; height: 25px; border-bottom: 1px dashed #acacac; position: relative; }
.serve_list dl dd a { float: left; line-height: 25px; font-size: 16px; text-indent: 10px; color: #000; }
.serve_list dl dd span { display: none; float: right; margin-right: 5px; font-size: 20px; color: #fff; line-height: 25px; }
.serve_list dl dd.active { background: #277fc2; }

.serve_list dl dd .suspend { display: none; border: 1px solid #b5b5b5; border-bottom: none; position: absolute; left: 140px; top: 0; background: #fff; }
.serve_list dl dd .suspend li { height: 19px; border-bottom: 1px solid #b5b5b5; padding: 5px; padding-left: 0; }
.serve_list dl dd .suspend li a { font-size: 14px; color: #000; line-height: 20px; white-space:nowrap; }

.article_main { float: right; width: 946px; height: 1000px; font-size: 30px; color: #000; text-align: center; border: 2px solid #bfbfbf; overflow: auto; }

















































































