


.main_left { float: -left; width: 400px; background: #fff; margin-left: 50px; }
.main_left .company_info li { font-size: 20px; color: #000; line-height: 35px; letter-spacing: 1px; font-family: arial,"微软雅黑"; }
.main_left h2 { width: 400px; height: 40px; background: #096032; font-size: 20px; color: #fff; line-height: 40px; text-indent: 5px; margin-bottom: 10px; cursor: pointer; }
.main_left ul { display: none; }
.main_right { position: absolute; width: 650px; margin-right: 50px; top: 50px; right: 0; }
#container { width: 650px; height: 500px; }
.qq { width: 800px; margin: 0 auto; }
.qq span { float: left; margin: 20px; font-size: 20px; color: #000; }
.qq a { float: left; margin: 20px; }













