


.page_nav .distpicker1 { position: absolute; top: 0; right: 50px; }
.page_nav .distpicker1 strong { font-size: 14px; font-weight: normal; color: #666; }
.page_nav .distpicker1 select { border: 1px solid #bfbfbf; background: #fff; border-radius: 4px; }

.lecturer_list { width: 1200px; }
.lecturer_list li { border-bottom: 2px dashed #bfbfbf; position: relative; }
.lecturer_list li .head_pic { float: left; width: 84px; height: 84px; border-radius: 42px; background: url(../img/default_head_man.png) -8px 0; margin: 36px 50px; }
.lecturer_list .lecturer_info { float: left; margin: 16px 0; }
.lecturer_list .lecturer_info li { font-size: 18px; line-height: 24px; border: none; }
.lecturer_list .lecturer_info span { float: left; }
.lecturer_list .lecturer_info p { float: left; width: 600px; white-space:nowrap; text-overflow:ellipsis; overflow: hidden; }
.lecturer_list li a { font-size: 18px; color: #fe0000; position: absolute; right: 30px; bottom: 12px; }

















































































