
#content { width: 1200px; margin: 0 auto; }
.reg_form { width: 50%; background: #f0f8fe; float: left; }
.reg_form li { position: relative; }
.reg_form .text, .reg_form select { display: block; width: 80%; height: 40px; margin: 25px auto 0; background: #fff; border: 2px solid #bfbfbf; text-indent: 14px; color: #666; line-height: 40px; }
.reg_form select { width: 486px; text-indent: 5px; line-height: 40px; }
.reg_form .file_pic { position: absolute; left: 50%; top: 0px; margin-left: -50px; width: 100px; height: 100px; display: block; filter: alpha(opacity=0); opacity: 0; z-index: 9999; cursor: pointer; text-indent: 9999; }
.reg_form .head_pic { width: 80px; height: 80px; border-radius: 41px; border: 2px solid #bfbfbf; background: #fff; line-height: 80px; text-align: center; color: #666; margin: 15px auto 0; overflow: hidden; cursor: pointer;}
.reg_form .head_pic img { width: 100%; height: 100%; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image); }
.reg_form .submit { display: block; border: none; width: 150px; height: 30px; margin: 54px auto ; background: #33a7fe; font-size: 14px; color: #fff; cursor: pointer; }
.reg_info { float: right; width: 50%; height: 647px; border: 2px solid #d4d4d4; box-sizing: border-box; line-height: 537px; font-size: 28px; font-weight: bold; text-align: center; }

.reg_form .info, .reg_form .error { display: none; font-size: 14px; color: #666; position: absolute; left: 80px; bottom: -18px; }
.reg_form .error { color: #fb1039; }































