


.issue {
	float: right;
	width: 950px;
	background: #e3e3e3;
	margin-top: 10px;
	position: relative;
}
.issue .title {
	width: 600px;
	height: 40px;
	border: none;
	margin: 10px 10px;
	text-indent: 10px;
}
.issue .contain {
	width: 600px;
	height: 300px;
	background: #fff;
	border: none;
	margin: 10px 10px 30px;
	font-size: 14px;
	line-height: 20px;
	text-indent: 10px;
}
.issue .submit {
	width: 100px;
	height: 40px;
	border: none;
	background: #000;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	left: 650px;
	bottom: 35px;
	cursor: pointer;
}
.issue .info {
	position: absolute;
	bottom: 5px;
	left: 20px;
	color: #fb0014;
}


















